/*Configuraciones de las paginas en general*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100%;
    width: 100%;
}

label{
    display: block;
}

input{
    width: 40%;
    height: 20%;
    margin: 10px;
    border: 1px solid lightslategray;
    border:dashed;
    border-radius: 5px;
}

input:focus-visible{
    border: 3px dashed #FFB644;
    outline: none;
}

input[type="email"]{
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
}

input[type="tel"]{
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]{ 
    background-color: #00ADA6;
    border: 1px solid lightslategray;
    text-align:center;
    width: 50%;
    margin: 0 auto;
    box-shadow: #000000 0px 0px 0px 0px, 
                #000000 0px 0px 0px 0px, 
                #181818 0px 2px 2px 0px, 
                #00ADA6 0px 0px 0px 2px, 
                #000000 0px 0px 0px 0px, 
                #000000 0px 0px 0px 0px, 
                #3f5958 0px 4px 8px 0px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    border: unset;
    border-radius: 5px;
}

input[type="text"]{
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
}

input[type="password"]{
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
}

input[type="password"]:invalid{
    
}

#lada{
    width: 250px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px;
    margin-top: 5px;
    border: 3px solid #000000;
    border-style: dashed;
    border-radius: 5px;
    color:#3f5958;
    outline: none;
}

#lada:focus{
    border: 3px dashed #FFB644;
}

/*Configuracion de la pagina index de sobre nosotros*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.menuIndexTop {
    background-color: #8AFFCC;
    padding: 10px 0;
    border: unset;
    border-radius: 5px;
    box-shadow: #000000 0px 0px 0px 0px, 
                #000000 0px 0px 0px 0px, 
                #181818 0px 2px 2px 0px, 
                #00ADA6 0px 0px 0px 2px, 
                #000000 0px 0px 0px 0px, 
                #000000 0px 0px 0px 0px, 
                #3f5958 0px 4px 8px 0px;
    text-align: center;
    margin: 20px;
    height: 45px;
}

.menuIndexTop a {
    color: #2b3838;
    text-decoration: none;
    margin: 40px;
    font-size: 20px;
    background-color: #8AFFCC;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    color: #3f5958;
}

.container p{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 18px;
    color: #2f3b3b;
    padding: 10px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.map-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.map-container iframe{
    text-align: center;
    width: 50%;
    height: 500px;
    border: 0;
}

/*Configuracion de la pagin intermedia entre index y registro de paciente y de dentista
/*----------------------------------------------------------------------------------------------------------------------------*/
.containerRegistro{
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    justify-content: center;
    position:relative;
}

.containerRegistro h1{
    margin: 30px;
    text-align: center;
    font-size: 36px;
    color: #3f5958;
}

.containerRegistro p{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #3d5252;
    padding: 10px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.contenedorBotonesRegistro{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.botonRegistroRegistro{
    margin: 30px;
    font-size: 20px;
    color:#007c8c;
    text-decoration: none;
}

.botonRegistroRegistro:hover{
    color: #00aec5;
    border-bottom: 3px dashed;
}

.botonRegistroRegistro:active{
    color: #FFB644;
    border-bottom: 3px dashed;
}

/*Configuracion de la pagina de registro para dentistas*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.divFormRegistroOdonto{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    height: 90px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.divFormRegistroOdonto h1{
    color: #00ADA6;
    text-shadow:    1px 1px 0 #3f5958;
}

.imgOdontoRegistro img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    border-style: dashed;
    border-color: #000000;
    padding: 30px;
}

.registroOdontoNombre{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroOdontoContrasena{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroOdontoEspecialidad{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroOdontoCorreo{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroOdontoTelefono{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
    margin-bottom: 30px;
}

#botonRegistroO{
    width: 420px;
}

/*Configuracion de la pagina de registro para paciente*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.divFormRegistroPaciente{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    height: 90px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.divFormRegistroPaciente h1{
    color: #00ADA6;
    text-shadow:    1px 1px 0 #3f5958;
}

.imgPacienteRegistro img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    border-style: dashed;
    border-color: #000000;
    padding: 30px;
}

.registroPacienteNombre{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroPacienteContrasena{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroPacienteDireccion{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroPacienteCorreo{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
}

.registroPacienteTelefono{
    position: static;
    width: 30%;
    margin: 0 auto;
    height: 100px;
    font-size: 18px;
    text-align: left;
    color:#006D7C;
    margin-bottom: 30px;
}

#botonRegistroP{
    width: 420px;
}

/*Configuracion de la pagina para iniciar sesion*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.divFormSesion{
    position: absolute;
    right: 60%;
    left: 0;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.divImagenSesion img{
    position: absolute;
    right: 0;
    margin: auto;
    width: 60%;
    height: 100%;
    align-items: center;
}

.submitInicioSesion{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.iniciarSesionPass{
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    width: 50%;
    text-align: left;
    color:#006D7C;
}

.iniciarSesionUser{
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 20px;
    text-align: left;
    width: 50%;
    color:#006D7C;
}

.iniciarSesionTitle{
    height: 90px;
    margin: 0 auto;
    font-size: 20px;
    width: 50%;
    color: #00ADA6;
    text-shadow:    1px 1px 0 #3f5958;
}

/*Configuracion de la pagina crud tratamientos*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*Agregar Tratamientos*/
.divTituloCRUD{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    height: 90px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #00ADA6;
    text-shadow:    1px 1px 0 #3f5958;
}

.divFormAgregarTratamiento{
    padding: 40px;
    text-align: left;
    font-size: 20px;
    height: 20%;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 50%;
    float: left;
}

.agregarNombreCRUD{
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    width: 70%;
    text-align: left;
    color:#006D7C;
}

.agregarDescripcionCRUD{
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    width: 70%;
    text-align: left;
    color:#006D7C;
}

.agregarCostoCRUD{
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    width: 70%;
    text-align: left;
    color:#006D7C;
}

.divAgregarTitle{
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    width: 70%;
    color: #45827f;
    text-shadow:    1px 1px 0 #364544;
}

/*Mostrar Tratamientos*/
.divMostrarTratamientos{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    height: 20%;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 50%;
    float: left;
}

.divMostrarTitle{
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    width: 70%;
    color: #45827f;
    text-shadow:    1px 1px 0 #364544;
}

.divListaMostrarTratamiento{
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 20px;
    text-align: left;
    width: 50%;
    padding: 10px;
}

.modalRegistro{
    display: none;
    position: fixed;
    margin-top: 17px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    margin-left: 25%;
}

.modal-contenido{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Configuracion de la pagina principal Odonto*/
/*-------------------------------------------------------------------------------------------------------------------------*/
.menu-table{
    margin: 50px;
}

.menu {
    list-style: none;
    padding: 30px;
}

.menu li {
    display: inline;
    margin: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 72px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.fotoUsuario1{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px;
    padding: 20px;
}

.fotoUsuario{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 30px;
}

h1{
    color: #00ADA6;
    text-shadow:    1px 1px 0 #3f5958;
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.labelFotoPerfil{
    color: #3f5958;
    font-size: 20px;
    margin: 10px;
}

.botonSubirFotos{
    margin-bottom: 30px;
}

.datosOdonto {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tnotificacionO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.recepcionNotificacionesO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.botonesInteractivosO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.botonActualizarO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tapartarCitasO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.citasOdonto {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tituloConfiO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.apartadoConfiOdonto {
    background-color: #ccc;
    border: 1px solid #fff;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.close {
    color: #777;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

input[type="file"]{
    width: 50%;
    margin-bottom: 30px;
}

.tratamientosOdonto{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.mostrarTramientosO {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.AgregarTratamiento{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px; 
}

.SeguimientoOdonto{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px; 
}

.verSeguimientos{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px; 
}

#foto-usuario {
    float: left;
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    margin-right: 20px;
    border-width: 5px;
}

.divFormCitas{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px; 
}

/*Configuracion de la pagina principal Paciente*/
/*-------------------------------------------------------------------------------------------------------------------------*/


.datosPaciente {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tnotificacionP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.recepcionNotificacionesP{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.eliminarNP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tapartarCitasP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.calendarioP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.tituloConfiP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.apartadoConfiP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.ttramientosP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.mostrarTramientosP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.botonActualizarP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.botonesInteractivosP {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.bienvenido{
    height: 180px;
    width: 60%;
    padding: 20px;
}

.imagenPerfilDiv{
    display: inline-flex;
    height: 180px;
    padding: 20px;
}

.bienvenido h1{
    text-align: left;
    height: auto;
    margin-bottom: 10px;
}

.bienvenido p{
    font-size: 18px;
    margin: 10px;
    height: 50%;
}

.divCerrarSesion{
    text-align: right;
    display: inline-flex;
    height: 180px;
    padding: 20px;
    align-items: center;
    width: 180px;
    justify-content: center;
}

.divCerrarSesion a{
    text-decoration: none;
    color: #333;
    font-size: 48px;
}

.encabezadoPerfilPaciente{
    justify-content: center;
    margin: 0 auto;
    display: inline-flex;
    width: 100%;
}

.botonAccesibilidad{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.botonAccesibilidad img {
    width: 40px;
}

.panelAccesibilidad{
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.panelAccesibilidad button{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.panelAccesibilidad button img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
}

.panelAccesibilidad span {
    display: block;
    text-align: center;
}

.listaAccesibilidad{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.listaAccesibilidad{
    width: 48%;
    margin-bottom: 10px;
}

.listaAccesibilidad label{
    display: block;
    margin-bottom: 5px;
}
